.Hehe,#myid{

	background-color: #999999;

}

#myid{
	color: #ddd;
	padding: 10px;
	padding-left: 20px;
}


input{
	border: 2px solid:#000;
}

.card{
	border: 2px solid #000;
	padding: 5px;
	margin: 5px;
	flex :1;   /* card occuppies 33% card1 also 33% and card2 33%*/
	order: 3;
}

.card1{
	border: 2px solid #000;
	padding: 5px;
	margin: 5px;
	flex:1;
	order: 2;

}

.card2{
	border: 2px solid #000;
	padding: 5px;
	margin: 5px;
	flex: 1;
	order: 1;
}

.main-div{
	display: flex;
	/*flex-direction: row-reverse;  This is reverse the row is opposite direction
	justify-content: center;		This will place main-div in center*/
	flex-wrap: wrap;  /*This will wrap the content irrespective of the device*/

}




/*Media Queries*/

@media screen and (max-width: 425px){
	.main-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #DAF7A6;

	}	

}


@media screen and (min-width:426px) and (max-width: 768px){
	.main-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #00FFFF;
	}
}










/* Notes:
1)# is used for id and . is used for class
2)display:flex is used in flex container if applied to container if given to divs applied to item in that divs.
3)order can be used for ordering by numbers.
4)flex 1,1,2 in above 3 card represents amount of space each card occupies.
5)star(*) is called universal selector 
example:

*{
	background-color: #c45e45

}


6)

*/
